# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# Xcode user data
# ==========================================

xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# ==========================================
# Xcode debugger
# ==========================================

xcdebugger/

# ==========================================
# Swift Package Manager
# ==========================================

.build/
Packages/

# ==========================================
# Build products
# ==========================================

DerivedData/
build/

# ==========================================
# Playground
# ==========================================

timeline.xctimeline
playground.xcworkspace

# ==========================================
# Temporary files
# ==========================================

*.swp
*.tmp
